<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668957313584-q0sgpn55huilcvac33p576eqk5icdk5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668957313584-q0sgpn55huilcvac33p576eqk5icdk5p</string>
	<key>API_KEY</key>
	<string>AIzaSyDVcRWdMXs8QRmltJHcPustngtQDjcgN_8</string>
	<key>GCM_SENDER_ID</key>
	<string>668957313584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cursoflutter.jamiltondamasceno.whastapp</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-36cd8</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-36cd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668957313584:ios:faf13172c1b1773b</string>
	<key>DATABASE_URL</key>
	<string>https://whatsapp-36cd8.firebaseio.com</string>
</dict>
</plist>